In [44]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

import statsmodels.api as sm
import statsmodels.tools

In [46]:
df = pd.read_csv("C:\\Users\\Toby\\Documents\\Digital Futures\\Projects\\WHO Project\\Life Expectancy Data.csv")
df.shape

(2864, 21)

In [48]:
feature_cols = list(df.columns)
feature_cols.remove('Life_expectancy')

X = df[feature_cols]
y = df['Life_expectancy']

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)
X_train.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,Polio,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing
1680,Tajikistan,Asia,2007,41.7,48.8,151.8545,0.54,84,90,24.8,85,86,0.10,699,7.06,3.8,3.8,10.5,0,1
2675,Burundi,Africa,2003,85.7,138.1,353.0270,6.37,87,57,20.8,75,82,1.09,298,6.91,8.5,8.5,2.1,0,1
2247,Bulgaria,European Union,2014,7.3,8.7,139.2615,10.30,95,89,26.3,88,88,0.03,6797,7.22,1.9,1.9,10.9,1,0
2088,Norway,Rest of Europe,2011,2.5,3.1,64.7610,6.44,88,94,26.4,94,94,0.04,72195,4.95,0.7,0.7,12.8,1,0
2331,Equatorial Guinea,Africa,2014,69.9,96.8,327.5505,8.64,53,64,23.9,55,20,4.04,12927,1.12,8.5,8.4,5.5,0,1

In [52]:
print(f'Same number of records in Train: {X_train.shape[0] == y_train.shape[0]}')
print(f'Same number of records in Test: {X_test.shape[0] == y_test.shape[0]}')

Same number of records in Train: True
Same number of records in Test: True

In [54]:
assert(all(X_train.index == y_train.index)), "There is some index mismatch in Train"
assert(all(X_test.index == y_test.index)), "There is some index mismatch in Test"